@use "variables";

main{
    margin-top: 5%;
}
#home {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center ;


}

#ventas {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 300px; // productos | carrito
    gap: 1rem;
    align-items: start;
    padding: 1rem;
    min-width: 0;

    .lista-productos {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }

}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 900px) {
    #ventas.ventas-layout {
        grid-template-columns: 1fr; // carrito abajo
    }

    #ventas .carrito {
        position: static;
    }
}