@use "variables";
@use "aside";
@use "nav";

#home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .cards_main {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        padding: 1rem;
        border: 1px solid black;
        border-radius: 12px;
        width: 350px;
        text-align: center;
        background-color: blue;
    }

    .btn_card {
        width: fit-content;
        min-width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;

        border: 2px solid black;
        border-radius: 20px;
        background-color: beige;

        text-decoration: none;
        color: black;
        margin: 0 auto;
        padding: 10px 16px;
    }
}




#ventas {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 400px; // productos | carrito
    gap: 1rem;
    align-items: start;
    padding: 1rem;

    .productos {
        min-width: 0; // evita overflow raro en grid

        h2 {
            margin: 0 0 1rem 0;
        }
    }

    .lista-productos {
        list-style: none;
        padding: 0;
        margin: 0;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 1rem;
    }

    .cards_main {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        padding: 1rem;
        border: 1px solid black;
        border-radius: 12px;

        text-align: center;
        background-color: blue;

        button.addToCart {
            width: fit-content;
            align-self: center; // ✅ centra el botón
            padding: 10px 16px;

            border: 2px solid black;
            border-radius: 20px;
            background-color: beige;
            cursor: pointer;
        }
    }

    //productos que no tienen stock
    .cards_main.sin-stock {
        // opacity: 0.6;

        button.addToCart {
            width: fit-content;
            align-self: center; // ✅ centra el botón
            padding: 10px 16px;
            border: 2px solid black;
            border-radius: 20px;
            background-color: beige;
            cursor: not-allowed
        }
    }
}

@media (max-width: 900px) {
    #ventas.ventas-layout {
        grid-template-columns: 1fr; // carrito abajo
    }

    #ventas .carrito {
        position: static;
    }
}