<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="ventas">Ventas</a></li>
        <li><a href="alquileres">Alquileres</a></li>
        <li>Contenedores</li>
        <li>Stock</li>
        <li>Clientes</li>
        <li>Transacciones</li>
        <li>Configuraciones</li>
    </ul>
</nav>