<!-- SIDEBAR LAYOUT (abre layout) -->
<div class="layout">
    <nav class="sidebar__nav">
        <a class="sidebar__link" href="/home">Home</a>
        <a class="sidebar__link" href="/ventas">Ventas</a>
        <a class="sidebar__link" href="/alquileres">Alquileres</a>
        <a class="sidebar__link" href="/contenedores">Contenedores</a>
        <a class="sidebar__link" href="/stock">Stock</a>
        <a class="sidebar__link" href="/clientes">Clientes</a>
        <a class="sidebar__link" href="/transacciones">Transacciones</a>
        <a class="sidebar__link" href="/configuraciones">Configuraciones</a>
    </nav>

    <div class="sidebar__footer">
        <a class="sidebar__user" href="#">Usuario</a>
    </div>
    </aside>