<button id="toggleSidebar">☰</button>

<aside id="sidebar" class="sidebar">

    <h2>Menú</h2>
    <ul>
            <li><a class="sidebar__link" href="/home">Home</a></li>
            <li><a class="sidebar__link" href="/ventas">Ventas</a></li>
            <li><a class="sidebar__link" href="/alquileres">Alquileres</a></li>
            <li><a class="sidebar__link" href="/contenedores">Contenedores</a></li>
            <li><a class="sidebar__link" href="/stock">Stock</a></li>
            <li><a class="sidebar__link" href="/clientes">Clientes</a></li>
            <li><a class="sidebar__link" href="/transacciones">Transacciones</a></li>
            <li><a class="sidebar__link" href="/configuraciones">Configuraciones</a></li>
    </ul>

</aside>