<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include("./partials/nav") %>

        <main id="home">
            <div class="cards_main">
                <b>Ventas</b>
                <a href="/ventas" class="btn_card">Acceder</a>
            </div>
            <div class="cards_main">
                <b>Alquileres</b>
                <a href="/alquileres" class="btn_card">Acceder</a>

            </div>
            <div class="cards_main">
                <b>Contenedores</b>
                <a href="/contenedores" class="btn_card">Acceder</a>

            </div>
            <div class="cards_main">
                <b>Stock</b>
                <a href="/stock" class="btn_card">Acceder</a>

            </div>
            <div class="cards_main">
                <b>Clientes</b>
                <a href="/clientes" class="btn_card">Acceder</a>

            </div>
            <div class="cards_main">
                <b>Transacciones</b>
                <a href="/transacciones" class="btn_card">Acceder</a>

            </div>
        </main>

</body>

</html>