<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include("./partials/nav") %>
        <h1>home con msj</h1>

        <main id="home">
            <div class="cards_main">
                <h4>Ventas</h4>
                <a href="/ventas" class="btn_card">Acceder</a>
            </div>
            <div class="cards_main">
                <h4>Alquileres</h4>
                <a href="/alquileres" class="btn_card">Acceder</a>

            </div>
            <div class="cards_main">
                <h4>Contenedores</h4>
                <a href="/contenedores" class="btn_card">Acceder</a>

            </div>
            <div class="cards_main">
                <h4>Stock</h4>
                <a href="/stock" class="btn_card">Acceder</a>

            </div>
            <div class="cards_main">
                <h4>Clientes</h4>
                <a href="/clientes" class="btn_card">Acceder</a>

            </div>
            <div class="cards_main">
                <h4>Transacciones</h4>
                <a href="/transacciones" class="btn_card">Acceder</a>

            </div>
        </main>

</body>

</html>