<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include("./partials/nav") %>
        <h1>home con msj</h1>

        <main>
            <div class="cards_main">
                <h4>Ventas</h4>
                <button><a href="/ventas">Acceder</a></button>
            </div>
            <div class="cards_main">
                <h4>Alquileres</h4>
                <button><a href="/alquileres">Acceder</a></button>

            </div>
            <div class="cards_main">
                <h4>Contenedores</h4>
                <button><a href="/contenedores">Acceder</a></button>

            </div>
            <div class="cards_main">
                <h4>Stock</h4>
                <button><a href="/stock">Acceder</a></button>

            </div>
            <div class="cards_main">
                <h4>Clientes</h4>
                <button><a href="/clientes">Acceder</a></button>

            </div>
            <div class="cards_main">
                <h4>Transacciones</h4>
                <button><a href="/transacciones">Acceder</a></button>

            </div>
        </main>

</body>

</html>