<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Crear un usuario</h1>
    <form method="post" action="/login/postUser">
        <label for="user">Usuario:</label>
        <input type="text" name="user" id="user">
        <label for="password">Contraseñaasa:</label>
        <input type="password" name="password" id="password">
        <button type="submit">Crear</button>
    </form>
</body>

</html>