<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <% if (error) { %><p style="color:red"><%= error %></p><% } %>
        <form action="/login" method="post">
            <label for="user">user:</label>
            <input type="text" name="user" id="user">
            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password">
            <button type="submit">Acceder</button>
            <a href="/create">crear usuario</a>
        </form>

    </main>
</body>

</html>